
body {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


body::before {
    content: "";
    background-position: center top;
    background-image: url('images/our_pic.jpg');
    filter: opacity(0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    background-position: center -1250px;

}

#countdown {
    font-size: 1.5em;
    margin-top: 20px;
}
